certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
gsconfig-py3 @ git+https://github.com/dimitri-justeau/gsconfig-py3.git@86e1bf69f397685f7faf042cd2aa0ae1014d2c7b
idna==3.10
requests==2.32.3
tqdm==4.67.1
urllib3==2.4.0